<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@500&display=swap');
    .box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    }
    button{
    padding: 10px 40px;
    cursor: pointer;
    background-color: #ff473d;
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid #ff4e26;
    margin: auto;
    display: block;
    color: white;
    transition: 0.3s ease-in-out;
    text-align: center;
    margin: top 10px; ;
}
button:hover{
    background-color: #98ff68;
}
.img img{
    width: 30vw;
    display: block;
    margin: auto;
}
.but{
    margin: 20px;
}
.but a{
    text-decoration: none;
}
@media only screen and (max-width:848px) {
    .box h3{
        font-size: 14px;
    }
}
</style>
<body>
    <div class="img">
        <img src="Jan-Success_1.jpg" alt="">
    </div>
    <div class="box">
        <h3>Your Complaint/Suggestion have been submitted.</h3>
    </div>
    <div class="but" > <a href="/"> <button>Go Back</button></a></div>
   
</body>
</html>